<launch>

	<!-- Setup rqt for visualization -->
	<arg name="rqt_config_folder" default="$(find ssf_package)/cfg/rqt"/>
	<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args='--perspective-file "$(arg rqt_config_folder)/dashboard.perspective"'/>

	<!-- Boot up the dynamic_reconfigure server -->
	<node pkg="ssf_package" type="dynamic_parameters_server.py" name="dynamic_parameters_server" output="screen"></node>
	<node pkg="ssf_package" type="dynamic_parameters_client.py" name="dynamic_parameters_client" output="screen"></node>

	<!-- Open rqt dynamic_reconfigure (for adjusting dynamic parameters) -->
	<node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />

</launch>