<launch>

	<!-- 
		This loads the default parameters, launches the pp, then the launches
		the dynamic parameters server which in turn launches and manages the
		current re and sg.
	-->
	<include file="$(find ssf_package)/launch/include/default.launch" />

	<!-- Setup rqt for visualization -->
	<arg name="rqt_config_folder" value="$(find ssf_package)/cfg/rqt"/>
	<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args='--perspective-file "$(arg rqt_config_folder)/rgd_depth_encoded.perspective"'/>

</launch>