<launch>

    <arg name="cfg_directory" value="$(find ssf_package)/cfg" />
    <!-- Load the static parameters from the ROS Parameter Server -->
    <rosparam command="load" file="$(arg cfg_directory)/StaticParameters.yaml" />

    <!-- Boot up the dynamic_reconfigure server -->
	<node pkg="ssf_package" type="dynamic_parameters_server.py" name="dynamic_parameters_server" output="screen"></node>

</launch>